<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Get real-time weather updates for any city, state, country, or local area. Simple, fast, and reliable weather forecasts at your fingertips." />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
</head>
<body>
    <header>
        <h1>Weather App</h1>
    </header>
    <main>
        <div class="container">
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <div class="input-city">
                    {{ form.input_city }}
                    {{ form.submit() }}
                </div>
            </form>
            <div class="view-weather">
                {% if weather_data %}
                    {% for index, data in weather_data.items() %}
                    <p>{{ index }}: {{ data }}</p>
                    {% endfor %}
                {% elif error %}
                    <p style="color:red;">{{ error }}</p>
                {% endif %}
            </div>
        </div>
    </main>

    <div class="note" style="color:white;">
        <h2>Note</h2>
        <p><i>*This app may not display accurate information or any data at all for remote or less accessible locations.</i></p>
    </div>

</body>
</html>